<h1 class="about-page">About</h1>


<p class="about-text">She tried to explain that love wasn't like pie. 
There wasn't a set number of slices to begiven out. There wasn't less to be given to one person if you wanted to give more toanother.
 That after a set amount was given out it would all disappear. She tried to explainthis, but it fell on deaf ears
</p>